$body-font-family: "DM Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

// Colors

$purple-000: #756de2;
$blue-000: #659cfc;
$red-000: #e25a5a;